.left, .right {
  background-color: #ffbf40;
  height: 100vh;
}
.middle {
  justify-content: center;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px;
}
body {
  min-height: 100vh;
}

