.left, .right {
  
  height: 100vh;
}
.middle {
  justify-content: center;
  text-align: center;
  background-color:white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px;

}
.main {
  min-height: 100vh;
  max-height: 100%;
}
body {
  min-height: 100vh;
  background-color: #ffbf405b;
}

